{% extends "base.html" %}
{% block title %}Commands{% endblock %}
{% block content %}
    <h1 class="title">Discord Commands</h1>
    <div class="command-ctx">
        <h2 class="cmd-title">Roles Section</h2>
        <p>
            <a class="cmds">ydna!c_role</a>
            <a class="cmd-ctx">Register a applicable role into the database (ADMIN ONLY)</a>
        </p>
        <p>
            <a class="cmds">ydna!delete_role</a>
            <a class="cmd-ctx">Delete an existing applicable role from the database (ADMIN ONLY)</a>
        </p>
        <p>
            <a class="cmds">ydna!get_role [Role] [Reason]</a>
            <a class="cmd-ctx">Apply for a role (Role must be in list of applicable roles) 申請一個身分組</a>
        </p>
        <h2 class="cmd-title">Teaming</h2>
        <p>
            <a class="cmds">ydna!split_call</a>
            <a class="cmd-ctx">Splitting a call (Voice Channel 分房用) to Call A and B.</a>
        </p>
        <p>
            <a class="cmds">ydna!recall</a>
            <a class="cmd-ctx">Recalling from Call A and B to Voice Channel 分房用</a>
        </p>
        <h2 class="cmd-title">Others</h2>
        <p>
            <a class="cmds">ydna!echo [Times] [Message]</a>
            <a class="cmd-ctx">Wash Board!</a>
        </p>
        <p>
            <a class="cmds">ydna!help</a>
            <a class="cmd-ctx">Redirect to this command page</a>
        </p>
        <p>
            <a class="cmds">ydna!get_url</a>
            <a class="cmd-ctx">Get This URL. **Aliases: <a class="cmds">ydna!url</a></a>
        </p>
        <p>
            <a class="cmds">ydna!random_map</a>
            <a class="cmd-ctx">Random a Map For R6</a>
        </p>
    </div>
{% endblock %}
{% block outbody %}
    <style>
        .cmds {
            background: rgba(36,36,37,0.87);
            color: white;
            padding: 5px;
        }

        .cmd-ctx {
            margin-left: 4px;
        }

        .command-ctx p {
            border-bottom: 1px solid #0c0c0c;
            padding-bottom: 20px;
        }

        .cmd-title {
            border-left: 1px solid #0c0c0c;
            padding-left: 10px
        }
    </style>
{% endblock %}