{% extends "base.html" %}
{% block content %}
    <h1 class="title" style="border-left: 10px solid red">
        Fixing Methods.
    </h1>
    <p class="description">
        If there is some emergency fixes, please follow the instructions:
    </p>

    <h2 class="t">Role Applicating</h2>
    <p>
        Please use the old method:<br>
        想申請的身份組: [Roles]<br>
        申請原因: [Reason] <br>
    </p>

    <h2 class="t">Suggestions</h2>
    <p>
        Please wait for the next emergency fix report.
    </p>

    <h2 class="t">Admin Registration</h2>
    <p>
        Please wait for the next emergency fix report.
    </p>

    <h2>Teaming (Discord), Commands (Website), Echo (Discord)</h2>
{% endblock %}
{% block outbody %}
    <style>

    </style>
{% endblock %}